<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
      <div class="row g-5">
        <!-- Company Info -->
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
          <a routerLink="/home" class="d-inline-block mb-3">
            <img [height]="60" *ngIf="imageSrc" [src]="imageSrc" alt="" srcset="">
    
          </a>
          <p class="mb-0">{{ 'FOOTER.DESCRIPTION' | translate }}</p>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
          <h5 class="text-white mb-4">{{ 'FOOTER.GET_IN_TOUCH' | translate }}</h5>
          <p>
            <i class="fa fa-map-marker-alt me-3"></i>{{ 'FOOTER.ADDRESS' | translate }}
          </p>
          <p>
            <i class="fa fa-phone-alt me-3"></i>{{ 'FOOTER.PHONE' | translate }}
          </p>
          <p>
            <i class="fa fa-envelope me-3"></i>{{ 'FOOTER.EMAIL' | translate }}
          </p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href="https://x.com/sharpInnvo1351"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/profile.php?id=61556338118947"><i class="fab fa-facebook-f"></i></a>
            <!-- <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a> -->
            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/sharpinnovations2104/"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/company/sharp-innovations-%D8%B4%D8%B1%D9%83%D8%A9-%D8%A7%D8%A8%D8%AA%D9%83%D8%A7%D8%B1%D8%A7%D8%AA-%D8%AD%D8%A7%D8%AF%D8%A9"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
  
        <!-- Popular Links -->
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
          <h5 class="text-white mb-4">{{ 'FOOTER.POPULAR_LINKS' | translate }}</h5>
          <a routerLink="/about" class="btn btn-link">{{ 'FOOTER.ABOUT_US' | translate }}</a>
          <a routerLink="/contact" class="btn btn-link">{{ 'FOOTER.CONTACT_US' | translate }}</a>
          <!-- <a class="btn btn-link">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
          <a class="btn btn-link">{{ 'FOOTER.TERMS_CONDITIONS' | translate }}</a> -->
          <a class="btn btn-link" routerLink="/Careers">{{ 'FOOTER.CAREER' | translate }}</a>
        </div>
  
        <!-- Services -->
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
          <h5 class="text-white mb-4">{{ 'FOOTER.OUR_SERVICES' | translate }}</h5>
          <a class="btn btn-link" routerLink="/services/application-security" >{{ 'FOOTER.SERVICE_1' | translate }}</a>
          <a class="btn btn-link" routerLink="/services/network-security">{{ 'FOOTER.SERVICE_2' | translate }}</a>
          <a class="btn btn-link" routerLink="/services/chatbot-development">{{ 'FOOTER.SERVICE_3' | translate }}</a>
          <a class="btn btn-link" routerLink="/services/oracle-automation">{{ 'FOOTER.SERVICE_4' | translate }}</a>
          <a class="btn btn-link" routerLink="/services/cybersecurity-services">{{ 'FOOTER.SERVICE_5' | translate }}</a>
        </div>
      </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; {{ 'FOOTER.COPYRIGHT' | translate }}
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a routerLink="/home">{{ 'FOOTER.HOME' | translate }}</a>
              <a href="">{{ 'FOOTER.COOKIES' | translate }}</a>
              <!-- <a href="">{{ 'FOOTER.HELP' | translate }}</a> -->
              <a routerLink="/faq">{{ 'FOOTER.FAQS' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
  
  <!-- Back to Top -->
  <a href="javascript:void(0)" (click)="scrollToTop()" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>
  