<!-- Contact Start -->

<div class="container-fluid">
   <app-loader [isLoading]="isLoading"></app-loader>

   <div class="container py-4">
     <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">
           <h3>{{ 'CONTACT-FORM.US' | translate }}</h3> 
           </div> -->
        <p class="contact">{{ 'CONTACT-FORM.QUERY_PROMPT' | translate }}</p>
     </div>
     <div class="row justify-content-center">
      
        <div class="col-lg-6">
           <div class="wow fadeIn" data-wow-delay="0.3s">
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="row g-3">
                 <div class="col-md-6">
                    <div class="form-floating">
                       <input
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="{{ 'CONTACT-FORM.PLACEHOLDER_NAME' | translate }}"
                          formControlName="name"
                          />
                       <label for="name">{{ 'CONTACT-FORM.YOUR_NAME' | translate }}</label>
                       <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
                          {{ 'CONTACT-FORM.ERROR_NAME' | translate }}
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-floating">
                       <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="{{ 'CONTACT-FORM.PLACEHOLDER_EMAIL' | translate }}"
                          formControlName="email"
                          />
                       <label for="email">{{ 'CONTACT-FORM.YOUR_EMAIL' | translate }}</label>
                       <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
                          {{ 'CONTACT-FORM.ERROR_EMAIL' | translate }}
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-floating">
                       <input
                          type="text"
                          class="form-control"
                          id="contactNumber"
                          placeholder="{{ 'CONTACT-FORM.PLACEHOLDER_NUMBER' | translate }}"
                          formControlName="contactNumber"
                          />
                       <label for="contactNumber">{{ 'CONTACT-FORM.CONTACT_NUMBER' | translate }}</label>
                       <div *ngIf="contactForm.get('contactNumber')?.invalid && contactForm.get('contactNumber')?.touched" class="text-danger">
                          {{ 'CONTACT-FORM.ERROR_NUMBER' | translate }}
                       </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-floating">
                       <input
                          type="text"
                          class="form-control"
                          id="organization"
                          placeholder="{{ 'CONTACT-FORM.PLACEHOLDER_ORGANIZATION' | translate }}"
                          formControlName="organization"
                          />
                       <label for="organization">{{ 'CONTACT-FORM.ORGANIZATION' | translate }}</label>
                       <div *ngIf="contactForm.get('organization')?.invalid && contactForm.get('organization')?.touched" class="text-danger">
                          {{ 'CONTACT-FORM.ERROR_ORGANIZATION' | translate }}
                       </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-floating">
                       <select
                          class="form-select" 
                          id="subject"
                          formControlName="subject"
                          (change)="onSubjectChange($event)"
                          >
                          <option value="" >
                             {{ 'CONTACT-FORM.PLACEHOLDER_SUBJECT' | translate }}
                          </option>
                          <option value="1">{{ 'CONTACT-FORM.SUBJECT_SERVICES' | translate }}</option>
                          <option value="6">{{ 'CONTACT-FORM.SUBJECT_MEDIA' | translate }}</option>
                          <option value="2">{{ 'CONTACT-FORM.SUBJECT_BILLING' | translate }}</option>
                          <option value="3">{{ 'CONTACT-FORM.SUBJECT_GENERAL' | translate }}</option>
                          <option value="5">{{ 'CONTACT-FORM.SUBJECT_TECHNICAL' | translate }}</option>
                          <option value="7">{{ 'CONTACT-FORM.SUBJECT_COMPLAINTS' | translate }}</option>
                       </select>
                       <label for="subject">{{ 'CONTACT-FORM.SUBJECT' | translate }}</label>
                       <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched" class="text-danger">
                          {{ 'CONTACT-FORM.ERROR_SUBJECT' | translate }}
                       </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-floating">
                       <textarea
                          class="form-control"
                          placeholder="{{ 'CONTACT-FORM.PLACEHOLDER_MESSAGE' | translate }}"
                          id="message"
                          style="height: 150px"
                          formControlName="message"
                          ></textarea>
                       <label for="message">{{ 'CONTACT-FORM.MESSAGE' | translate }}</label>
                       <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
                          {{ 'CONTACT-FORM.ERROR_MESSAGE' | translate }}
                       </div>
                    </div>
                 </div>
                 <div class="col-3">
                 </div>
                 <div class="col-6 mb-3">
                    <button class="btn btn-primary w-100 py-3 d-flex justify-content-center align-items-center" type="submit" (touchend)="onSubmit()" [disabled]="contactForm.invalid">
                    <ng-container *ngIf="!loading && !success">
                       {{ 'CONTACT-FORM.SEND_MESSAGE' | translate }}
                    </ng-container>
                    <!-- Spinner while sending -->
                    <div *ngIf="loading" class="spinner-border spinner-border-sm ms-2" role="status">
                       <span class="visually-hidden">Loading...</span>
                    </div>
                    <!-- White checkmark on success -->
                    <div *ngIf="success" class="text-white ms-2">
                       <i class="fa fa-check-circle"></i>
                    </div>
                    </button>
                    
                 </div>
                 <div class="col-3">
                 </div>
              </div>
              </form>
              
           </div>
        </div>
        <div class="col-lg-6">
          <div class="map-card relative bg-white p-4 mt-6 border border-gray-300 rounded-base" style="border-radius: 8px;">
             <div class="map-container min-h-[12rem] bg-white rounded-base overflow-hidden">
               <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3626.6349878292594!2d46.83981599999999!3d24.636262400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2fa712790d0be7%3A0xae72a5d4a66b7e45!2z2LTYsdmD2Kkg2KfYqNiq2YPYp9ix2KfYqiDYrdin2K_YqQ!5e0!3m2!1sen!2sin!4v1743526567330!5m2!1sen!2sin" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
               <p class="flex items-center gap-3 text-base" style="text-align: center;">
                <i class="fa fa-map-marker-alt me-3"></i> {{ 'FOOTER.ADDRESS' | translate }}
              </p>
   <div class="container">
      <div class="container">
         <div class="row">
             <div class="col-md-6 p-3 border-end border-dark text-center">
                 <p class="text-base">{{ 'CONTACT-FORM.CONTACT_DETAILS' | translate }}</p>
                 <ul class="contact-list" style="direction: ltr;">
                  <li>
                     <i class="fa fa-phone-alt"></i> 
                     <a href="tel:+966598250829">{{'FOOTER.PHONE' | translate}}</a>
                   </li>
                   <li>
                     <i class="fas fa-tty"></i>
                     <a href="tel:+966114530073">{{ 'FOOTER.LANDLINE' | translate}}</a>
                   </li>
                   <li>
                     <i class="fa fa-envelope"></i>
                     <a href="mailto:info@sharpinnvotech.com">{{ 'FOOTER.EMAIL' | translate}}</a>
                   </li>
                 </ul>                
             </div>
               <div class="col-md-6 p-3 border-dark text-center">
                  <p class="text-base">{{ 'CONTACT-FORM.SALES_INQURY' | translate }}</p>
                  <ul class="contact-list" style="direction: ltr;">
                     <li>
                        <i class="fa fa-phone-alt"></i> 
                        <a href="tel:+966598250829">{{ 'FOOTER.PHONE' | translate}}</a>
                      </li>
                      <li>
                        <i class="fas fa-tty"></i>
                        <a href="tel:+966114530073">{{ 'FOOTER.LANDLINE' | translate}}</a>
                      </li>
                      <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:sales@sharpinnvotech.com">{{ 'FOOTER.sales' | translate}}</a>
                      </li>
                  </ul>                
              </div>
             
         </div>
     </div>     
</div>          
   </div>
   <div class="my-4 p-4 bg-[#F7F7F7] border border-[#D7D7D7] rounded-[0.625rem]" style="background-color:#1363c6;border-radius: 8px;">
      <p class="text-base text-white font-medium">
          <b>{{ 'CONTACT-FORM.CONTACT_HOURS' | translate }}</b>
      </p>
      <div class="flex items-center flex-wrap gap-1 text-sm my-2">          
          <div class="contact-hours">           
            <span class="text-white text-sm" style="margin-right: 4px;">
               <i class="fa fa-clock me-2" style="font-size: 1.5rem; color: white;"></i>  {{ 'CONTACT-FORM.CONTACT_TIME' | translate }}
            </span>
            <span class="text-main p-1 rounded-base ms-2" style="color: #1363c6; background-color: #E7EFF9; border-radius: 8px; margin-right: 4px;">
                {{ 'CONTACT-FORM.CONTACT_DAY' | translate }}
            </span>
        </div>
      </div>
      
      <div class="lg:w-3/6 w-full download-apps">
          <p class="text-base text-white font-medium">
              <b>{{ 'CONTACT-FORM.CONTACT_SOCIALMEDIA' | translate }}</b>
          </p>
          <div class="d-flex align-items-center mt-2">
              <a href="#" class="btn btn-outline-primary btn-square me-2">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="btn btn-outline-primary btn-square me-2">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="btn btn-outline-primary btn-square me-2">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="#" class="btn btn-outline-primary btn-square me-2">
                  <i class="fab fa-linkedin-in"></i>
              </a>
          </div>
      </div>
  </div>
  
     </div>
  </div>
</div>