<div class="clients-page py-5" [ngClass]="{ 'rtl': rtl }">
  <!-- Clients Section -->
  <div class="carousel mt-4">
    <div class="section-title">
      <div class="header-title text-center">
        <img src="../../../../assets/logo/SLogo.png" [height]="50">
        <h2>{{ 'clientsPage.clients.title' | translate }}</h2>
      </div>
      <p>{{ 'clientsPage.clients.description' | translate }}</p>
    </div>

    <owl-carousel-o [options]="clientOptions">
      <ng-container *ngFor="let logo of clientLogos">
        <ng-template carouselSlide>
          <div class="logo-item" (click)="openModal(logo)">
            <img [src]="logo" [alt]="'Client logo'" loading="lazy">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <!-- Partners Section -->
  <div class="carousel mt-4">
    <div class="section-title">
      <div class="header-title">
        <img src="../../../../assets/logo/SLogo.png" [height]="50">
        <h2>{{ 'clientsPage.partners.title' | translate }}</h2>
      </div>
      <p>{{ 'clientsPage.partners.description' | translate }}</p>
    </div>

    <owl-carousel-o [options]="partnerOptions">
      <ng-container *ngFor="let logo of partnerLogos">
        <ng-template carouselSlide>
          <div class="logo-item" (click)="openModal(logo)">
            <img [src]="logo" [alt]="'Partner logo'" loading="lazy">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <!-- Certificates Section -->
  <div class="carousel mt-4">
    <div class="section-title">
      <div class="header-title">
        <img src="../../../../assets/logo/SLogo.png" [height]="50">
        <h2>{{ 'clientsPage.certificates.title' | translate }}</h2>
      </div>
      <p>{{ 'clientsPage.certificates.description' | translate }}</p>
    </div>

    <owl-carousel-o [options]="certificateOptions">
      <ng-container *ngFor="let cert of isocertificates">
        <ng-template carouselSlide>
          <div class="certificate-item" (click)="openModal(cert)">
            <img [src]="cert" [alt]="'ISO Certificate'" loading="lazy">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>

<!-- Modal Template -->
<ng-template #imageModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ 'clientsPage.modal.title' | translate }}</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body text-center">
    <img [src]="selectedImage" class="img-fluid" alt="Enlarged view">
  </div>
</ng-template>

<!-- Modified logo items section -->
